body {
    background-color: #1a1a1a; 
    color: black; 
    font-family: var(--mantine-font-family);
}


.Header {
    font-size: 2rem; 
    text-align: center;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 8px; 
    margin-bottom: 20px;
}

.default-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200vh;
}

.default-page h1 {
    color: white;
    font-size: 2rem;
    margin-top: 3vh;
}

table {
    background-color: #333333; 
    color: black; 
}

.dropdown:hover,
.dropdown:focus {
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.8); 
}

.dropdown-menu {
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,0.15); 
    padding: 0.5rem 0;
}