body {
    background-color: #000000; /* background color */
  }
  
  .default-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  

  /* styles/globals.css */
body {
    background-color: #000000; 
  }
  
  .default-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 200vh; 
  }
  
  .default-page h1 {
    color: green; 
    font-size: 2rem; 
    margin-top: 3vh; 
  }

  table {
    background-color: white;
  }


  .whiteText {
    color: white;
  }

  body {
    background-color: #000000; 
}

.default-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 200vh; 
}

.default-page h1 {
    color: white; 
    font-size: 2rem; 
    margin-top: 3vh; 
}

table {
  background-color: white;
}

/* Table header styles */
th {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
